@model IEnumerable<vroom.Models.Make>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Makes of Vehicle</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp; Add New Make</a>        
    </div>
    <br />
    <div class="col-12">
        <table class="table table-striped border" >
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m=>m.Name)
                </th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m=>item.Name)
                    </td>
                    <partial name="_TableButtonPartials" model="item.Id" />                    
                </tr>
            }

        </table>
    </div>
</div>


